<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .message { font-size: 1.3em; font-weight: bold; }
        .red-text { color: red; }
        .green-text { color: green; }
        .red-border { border-color: red; }
        .green-border { border-color: green; }
    </style>
</head>
<body>
    <div class="container" ng-app="LunchCheck" ng-controller="LunchCheckController">
        <h1>Lunch Checker</h1>

        <div class="form-group">
            <!-- Please note: Empty items, e.g., ', ,' are not considered in the count -->
            <input id="lunch-menu" type="text"
                placeholder="list comma-separated dishes you usually have for lunch"
                class="form-control" ng-model="lunchItems"
                ng-class="{ 'red-border': textBoxBorderColor === 'red', 'green-border': textBoxBorderColor === 'green' }">
        </div>

        <div class="form-group">
            <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
        </div>

        <div class="form-group message" ng-class="{ 'red-text': messageColor === 'red' && message === 'Too much!', 'green-text': messageColor === 'green' }">
            {{ message }}
        </div>
    </div>

    <!-- Load AngularJS before app.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
